//
// Site variables
//
//***********************************************************************

// Font stacks
$brandon-grotesque: "brandon-grotesque", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

$font-body: $brandon-grotesque;
$font-heading: $brandon-grotesque;

// Site Colours
$black: #000;
$black-ish: #222;
$gray: #8D9397;

$colour-primary: $black-ish; // Body
$colour-secondary: $black-ish; // Links
$colour-highlight-bright: $gray; // Bright headings (text)
$colour-highlight-dark: $black; // Dark highlights (backgrounds)


//Vendor variables
//****************************